// третий уровень 
.submenu.submenu-3
	ul.sub-submenu
		li.sub-submenu-item
			a.sub-submenu-link(href="#!") Пошив сигнальных жилетов сигнальных жилетов
		li.sub-submenu-item
			a.sub-submenu-link(href="#!") Пошив рабочих костюмов
		li.sub-submenu-item
			a.sub-submenu-link(href="#!") Пошив халатов
		li.sub-submenu-item
			a.sub-submenu-link(href="#!") Пошив комбинезонов
		li.sub-submenu-item
			a.sub-submenu-link(href="#!") Пошив рабочих брюк
		li.sub-submenu-item
			a.sub-submenu-link(href="#!") Пошив фартуков
		li.sub-submenu-item
			a.sub-submenu-link(href="#!") Пошив1 зимней спецодежды