.blog-hero{
	background-color: #f2f2f2;
	overflow: hidden;
	@media (max-width: 767px) {
	padding-top: 16px;
	}
}
.blog-hero-txt,.blog-hero-img {
	grid-column: span 6;
	@media (max-width: 767px) {
		grid-column: span 12;
	}
}
.blog-hero-txt{
	padding-top: 140px;
	padding-bottom: 160px;
	&>*+*{margin-top: 30px;}
	h1{
		@media (max-width: 767px) {
		display: none;
		}
	}
	@media (max-width: 1199px) {
		padding-block: 80px;
	}
	@media (max-width: 767px) {
	order:2;
	padding-block: 0;
	padding-bottom: 30px;
	&>*+* {margin-top: 0;}
	.btn{margin-top: 16px;
	margin-inline: auto;}
		
	}
}
.blog-hero-img{
	position: relative;
	height: 100%;
	img{
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 50vw;
		max-width: unset;
		height: 100%;
		object-fit: cover;
	}
	.h1{
		display: none;
		@media (max-width: 767px) {
		display: block;
		margin-bottom: 16px;
		}
	}
	@media (max-width: 767px) {
	order:1;
	margin-right: -16px;
	img{
		position: relative;
		width: 100%;
		max-width: 100%;
		height: auto;
		@media (max-width: 424px) {
			height: 207px;
		}
		
	}
	}
}
.portfolio-swiper-wrapper{
	position: relative;
	padding-inline:24px;
	@media (max-width: 580px) {
		padding-inline: 16px;
	}
}
.swiper-nav{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	transform: translateY(-50%);

}
.swiper-button-next {
	right: -10px;
}

.swiper-button-prev {
	left: -10px
}

.swiper-button-next:after,
.swiper-button-prev:after {
	font-size: 30px;
	color: #000;
	opacity: 1;
	@media (max-width: 767px) {
	font-size: 24px;
	}
}
.portfolio-swiper{
	padding-block:17px;
	.swiper-slide{
		padding-inline: 20px;
		display: flex;
		justify-content: center;
		height: unset;
		min-height: 100%;
		img{
			width: 100%;
			aspect-ratio:231/321;
			object-fit: cover;
		}
		@media (max-width: 1199px) {
			padding-inline: 8px;
		}
		@media (max-width: 767px) {
			padding-inline: 5px;
		}
	}
}
.custom-text{
	&>*+*{margin-top: 24px;}
	ul{
		list-style-type: disc;
		padding-left: 16px;
		li{line-height: 2;}
	}
	.four-column-txt,
	.three-column-txt,
	.two-column-txt{&>*+* {
			margin-top: 0;
		}}
}
.text-block>*+*{
	margin-top: 10px;
}
.four-column-txt{
	&>*{grid-column: span 3;}
}
.three-column-txt {
	&>* {grid-column: span 4;}
}
.two-column-txt {
	&>* {grid-column: span 6;}
}

@media (max-width: 1199px) {
	.four-column-txt, .three-column-txt, .two-column-txt{
		&>*+*{margin-top: 0;}
		&>* {grid-column: span 6;}
	}
}
@media (max-width: 767px) {
.four-column-txt,
	.three-column-txt,
	.two-column-txt {
		&>*+* {
			margin-top: 0;
		}

		&>* {
			grid-column: span 12;
		}
		&.two-column-mobile{
			&>* {
					grid-column: span 6;
				}
		}
	}
}