.inner-main{
	padding-top: 16px;
	.h1{
		margin-bottom: 20px;
	}
	
}
.preview-text{
		margin-bottom: 30px;
		max-width: 853px;
		p+p{
			margin-top: 1em;
		}
	}
.catalogy-menu{
	display: flex;
	flex-wrap: wrap;
	gap:24px;
}
.catalogy-main-content .catalogy-menu{
	@media (max-width: 767px) {
	display: none;
	}
}
.catalogy-main-content .catalogy-menu-mobile{
	display: none;

	@media (max-width: 767px) {
	display: block;
	}
}
.label-link{
	display: inline-flex;
	padding: 6px 18px;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: #f2f2f2;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	transition: .3s;
	&:hover{
		background: #fafafa;
		text-decoration: none;
	}
}
.catalogy-menu-mobile {
	#label-trigger{
		position: relative;
		&:after {
		content: '';
		display: inline-block;
		width: 14px;
		height: 7px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='7' viewBox='0 0 14 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13 6L7.84853 0.848528C7.3799 0.379898 6.6201 0.379898 6.15147 0.848527L0.999999 6' stroke='%23000000' stroke-linecap='round' /%3e%3c/svg%3e");
		position: absolute;
		right: 13px;
		top: 13px;
		pointer-events: none;
		transform: rotate(180deg);
		z-index: 3;}
		&.active:after{transform: rotate(0)}
	}
	.label-link{width: 100%;}
    .catalogy-menu-drop {
		border: 1px solid rgba(0, 0, 0, 0.1);
		text-align: center;
		border-top:0;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: var(--grey-bg);
		display: none;
		&.active{display: block;}
		.label-link{
			display: block;
			width: fit-content;
			margin-inline: auto;
			border:0;
			&:hover{background-color:var(--grey-bg);}
		}
	}
}
.custom-select-wrapper.filter-select{
	max-width: 242px;
}
.catalogy-cards{
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	position: relative;
	&:after{
		content:'';
		position: absolute;
		display: block;
		height: 1px;
		width: 100%;
		background-color: #fff;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
	}
	.mini-card-box:nth-child(-n+4){
		border-top:0;
	}
	@media (max-width: 1199px) {
		grid-template-columns: repeat(3, 1fr);
		
	}
	@media (max-width: 1023px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 767px) {
		column-gap:20px;
		row-gap:24px;
	}
}