.hero-inner{
	padding-top: 16px;
	.h1{
		margin-bottom: 20px;
	}
	.preview-text{
		margin-bottom: 30px;
		max-width: 853px;
	}
}
.catalogy-menu{
	display: flex;
	flex-wrap: wrap;
	gap:24px;
}
.catalogy-main .catalogy-menu{
	@media (max-width: 767px) {
	display: none;
	}
}
.catalogy-main .catalogy-menu-mobile{
	display: none;

	@media (max-width: 767px) {
	display: block;
	}
}
.label-link{
	display: inline-flex;
	padding: 6px 18px;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: #f2f2f2;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	transition: .3s;
	&:hover{
		background: #fafafa;
		text-decoration: underline;
	}
}
.catalogy-menu-mobile {

	.custom-option,
	.custom-select-trigger {
		background: #f2f2f2;
		text-decoration: underline;
		text-decoration-skip-ink: none;
	}

	.custom-select-trigger,
	.custom-options {
		text-align: center;
	}
}
.custom-select-wrapper.filter-select{
	max-width: 242px;
}
.catalogy-cards{
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	position: relative;
	&:after{
		content:'';
		position: absolute;
		display: block;
		height: 1px;
		width: 100%;
		background-color: #fff;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
	}
	.mini-card-box:nth-child(-n+4){
		border-top:0;
	}
	@media (max-width: 1199px) {
		grid-template-columns: repeat(3, 1fr);
		
	}
	@media (max-width: 1023px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 767px) {
		column-gap:20px;
		row-gap:24px;
	}
}