.footer{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #000000;
	color: #ffffff;
}
.footer-top{
	padding-bottom: 40px;
}
.footer-text{
	grid-column: span 5;
	&>*+*{margin-top: 24px;}
	@media (max-width: 1023px) {
		grid-column: span 12;
		max-width: 600px;
		margin-bottom: 20px;
	}
	@media (max-width: 767px) {
	margin-bottom: 16px;
	text-align: center;
	}
}
.footer-nav{
	grid-column: span 7;
	display: flex;
	column-gap: 40px;
	justify-content: space-between;
	a{display: inline;}
	li +li{margin-top: 20px;}
	@media (max-width: 1023px) {
		grid-column: span 12;
	}
	@media (max-width: 767px) {
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
		row-gap:16px;
	}
}
.footer .custom-select-wrapper{
	@media (max-width: 1023px) {
	display: none;
	}
}
.select-city{
	width:fit-content;
	position: relative;
}
.select-city{
	.select-city-trigger{
		width: fit-content;
		padding-right: 24px;
		position: relative;
		cursor:pointer;
		&:after{
			content: '';
			display: inline-block;
			
			width: 14px;
			height: 7px;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='7' viewBox='0 0 14 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13 6L7.84853 0.848528C7.3799 0.379898 6.6201 0.379898 6.15147 0.848527L0.999999 6' stroke='%23ffffff' stroke-linecap='round' /%3e%3c/svg%3e");
			position: absolute;
			right: 0;
			top: 5px;
			pointer-events: none;
			transform: rotate(180deg);
			z-index: 3;
			transition: .3s; 
		}
	}
	.select-city-trigger.open:after{
		transform:rotate(180deg);
	}
}
.select-city .tabs-trigger {
	display: flex;
	column-gap: 5px;
	padding-bottom: 10px;
}

.select-city .tab-btn {
	font-size: 13px;
	text-transform: uppercase;
	cursor:pointer;
	&:hover{
		opacity: .8;
	}
}

.select-city .tab-btn.active {
	color: red;
}

.select-city .tab-item {
	display: none;
	padding-bottom: 12px;
	.custom-option{
		padding: 0;
		font-size: 12px;
		transition: .3s; 
		&:hover{
			background-color: transparent;
			opacity: .7;
		}
	}
}

.select-city .tab-item.active {
	display: flex;
	flex-wrap:wrap;
	gap:10px;
}
.select-city .select-city-tabs{
	display: none;
	position: absolute;
	z-index: 5;
	top: calc(100% + 20px);
	border: 1px solid #dadada;
	right:0;
	width: 460px;
	background-color: #000000;
	padding: 14px;
	padding-right: 10px;

	.tabs-content{
		max-height: 110px;
		overflow: hidden;
		overflow-y: auto;
		scrollbar-width: thin;
		scrollbar-color: #dadada transparent;
		&::-webkit-scrollbar {
			width: 3px;
		}
	
		&::-webkit-scrollbar {
			width: 3px;
		}
	
		&::-webkit-scrollbar-thumb {
			width: 3px;
			border-radius: 5px;
			height: 20px;
			background-color: #dadada;
		}
	
		&::-webkit-scrollbar-track {
			width: 3px;
			border-radius: 5px;
			background-color: transparent;
		}
	}
}
.select-city-tabs.active {
	display: block;
}
.footer-contacts{
	.contact-link, address{
		font-size: 12px;
		color: white;
		display: block;
		margin-top: 20px;
	}
	.contact-phone{
		font-weight: 700;
		font-size: 14px;
	}
	address{
		max-width: 150px;
		@media (max-width: 767px) {
		margin-left: auto;
		margin-right: auto;
		
		}
	}
}
.footer-bottom{
	padding-top: 20px;
	border-top:1px solid rgba(255,255,255, .3);
	@media (max-width: 767px) {
	padding-top: 24px;
	}
	p{
		font-size: 12px;
		color: white;
	}
	.container{
		display: flex;
		align-items: center;
		column-gap: 74px;
		.copyright-txt{flex-shrink: 0;}
		@media (max-width: 1199px) {
		text-align: center;
		flex-direction: column;
		align-items: center;
		row-gap:24px ;
		p{
			font-size: 10px;
		}
		}
	}
	.footer-info-txt{flex-grow: 1;}
}