.get-sample-content{
	align-items: center;
	@media (max-width: 767px) {
		row-gap:12px;
		.get-sample-img,
		.get-sample-text,
		.get-sample-btn {
			grid-column: span 12;
			align-items: center;
			justify-content: center;
			text-align: center;

		}
		.get-sample-img img{
			width: 234px;
			height: 202px;
			
		}
		.get-sample-btn{
			max-width: 135px;
			display: flex;
			margin-inline: auto;
		}
		
	}
}
.get-sample-img{
	grid-column: span 4;
	img{
		width: 100%;
		aspect-ratio: 361 / 312;
	}
}
.get-sample-text {
	grid-column: span 5;
	font-size: 14px;
	font-weight: 600;
	.h1{margin-bottom: 12px;}
}
.get-sample-btn {
	grid-column: span 3;
	.btn, button{
		width: 100%;
		padding-inline:10px;
	}
	
}
.get-sample-full{
	.get-sample-text .h2{display: none;}
	.get-sample-content{
		grid-column: span 3;
		&>*+*{margin-top: 40px;}
		@media (max-width: 767px) {
			grid-column: span 12;
			max-width: 360px;
			margin-inline: auto;
			&>*+* {margin-top: 16px;}
		}
	}
	.get-sample-descrip{
		grid-column: span 9;
		p+p{margin-top: 1em;}
		@media (max-width: 767px) {
			display: none;
		}
	}
	@media (max-width: 767px) {
		.h2{display: none;}
		.get-sample-content .h2{display: block;}
	}
}