.header{
	background-color: #fff;
	
}
.header-row{
	padding-block: 18px;
}
.header-column{
	column-gap:45px;
}
.header-top{
	padding-block:13px 16px;
	border-bottom: 1px solid #F5F5F5;
}
.header-bottom{
	position: relative;
	.btn-cart{
		position: absolute;
		right: 0;
		top: 0;
	}
	@media (max-width: 1439px) {
		.logo .svg-logo{width: 160px;}
	}
}
.contacts-phone{
	margin-left: auto;
	margin-right: 80px;
	white-space: nowrap;
	@media (max-width: 1439px) {
		.txt-big{font-size: 18px;}
				margin-right: 60px;
	}
		@media (max-width: 1364px) {
			.txt-big {font-size: 16px;}
				
			
		}
}