.header{
	background-color: #fff;
}
.header-row{
	padding-block: 18px;
}
.header-column{
	column-gap:45px;
}
.header-top{
	padding-block:13px 16px;
	border-bottom: 1px solid #F5F5F5;
}
.header-bottom{
	position: relative;
	.btn-cart{
		position: absolute;
		right: 0;
		top: 0;
		
	}
}