.hero{
	padding-block: 42px;
	background-color: #FAFAFA;
	overflow: hidden;
	@media (max-width: 767px) {
	padding-top: 12px;
	padding-bottom: 24px;
	.h1{font-size: 20px;}
	}
}
.hero-swiper-wrapper{
	width: calc(50vw + 50%);
	max-width: 1457px;
	.swiper-slide{
		height: auto;
		min-height: 100%;
		display: flex;
	}
	@media (max-width: 1439px) {
		width:100%;
	}
	
}
.hero-slide{
	display: flex;
	column-gap:24px;
	&-img{
		flex-shrink: 0;
		width: 57%;
		height: 580px;
		position: relative;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.hero-slide-label{
		position: absolute;
		z-index: 2;
		right: 0;
		bottom: 23px;
		background-color: #fff;
		width: 219px;
		height: auto;
		@media (max-width: 1199px) {
			width: 150px;
		}
		@media (max-width: 767px) {
		width: 86px;
		bottom:8px;
		img{aspect-ratio: unset;}
		
		}
	}
	&-text{
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		row-gap:18px;
		justify-content: center;
		background-color: #FAFAFA;
		&>*{width: 100%;}
		@media (max-width: 767px) {
			row-gap:14px;
			.btn-group{
				margin-top: auto;
				&>*{
					width: calc((100% - 24px)/2);
					
				}
			}
		}
	}
		&-img__mobile {display: none;	position: relative;
		}
			
	
	@media (max-width: 1439px) {
		&-img{
			width: 50%;
			height: 500px;
		}
	}
	@media (max-width: 1023px) {
		&-img {
			width: 30%;
			height: 400px;
		}
	}
	@media (max-width: 767px) {
		&-img{display: none;}
		&-img__mobile {
			display: block;
			position: relative;
			width: 100%;
			
			img{
				width: 100%;
				aspect-ratio: 305 / 207;
			}
			
			.hero-slide-label img{
				width: 86px;
				height:auto;
			}
		}
	}
	
}
@media (max-width: 767px) {
	.swiper {padding-bottom: 40px;}
		.swiper .swiper-pagination{justify-content: center; bottom: 10px;}
}
.swiper .swiper-pagination{
	display: flex;
	bottom: 0;
	column-gap: 16px;
	
}
.swiper-pagination-bullet {
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
	border: 1px solid rgba(26, 26, 27, .6);
	box-sizing: border-box;
	cursor: pointer;
	opacity: 1;
	transition: .3s; 
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
	background: rgba(26, 26, 27, .6);
}
.swiper-pagination-bullet.swiper-pagination-bullet-active::after {
	position: absolute;
	content: "";
	inset: -8px;
	border-radius: 50%;
	-webkit-animation-name: dot-animate;
	animation-name: dot-animate;
	-webkit-animation-duration: var(--sliderDuration);
	animation-duration: var(--sliderDuration);
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active::before {
	position: absolute;
	content: "";
	inset:-8px;
	border-radius: 50%;
	border: 2px solid rgba(0, 0, 0, 0);
}

@keyframes dot-animate {
	0% {
		border: 2px solid rgba(26, 26, 27, .6);
		-webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%, 50% 50%)
	}

	12.5% {
		-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 0, 0 0, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 0, 0 0, 50% 50%, 50% 50%)
	}

	25% {
		-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 50%, 0 50%, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 50%, 0 50%, 50% 50%, 50% 50%)
	}

	37.5% {
		-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 100%, 0 100%, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 100%, 0 100%, 50% 50%, 50% 50%)
	}

	50% {
		-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 50%, 50% 50%)
	}

	62.5% {
		-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 50%, 50% 50%)
	}

	75% {
		-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%, 50% 50%)
	}

	87.5% {
		-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 50% 50%, 50% 50%)
	}

	100% {
		border: 2px solid rgba(26, 26, 27, .6);
		-webkit-clip-path: polygon(50% 0%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 50%, 50% 50%);
		clip-path: polygon(50% 0%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 50%, 50% 50%)
	}

}
