//=====ABOUT ====
section.about
	.container
		.about-content.d-grid
			//====img block ====
			.about-img
				//====заголовок для моб версии ===
				.about-mobile-title
					.txt-light о компании
					.h1 Форма#[span.txt-red Т] это:
				
				//==== img-label===
				.statistic-item
					p 18 000 +
					span Изделий выпущено<br> за последний год

				img(src="./img/hero-slide2.webp", width="710" height="500" alt="img")
			//====text block ====
			.about-text
				.txt-light о компании
				.h1 Форма#[span.txt-red Т] это:
				p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. 
				button.btn(type="button") подробнее
