//======BENEFITS=====
section.benefits.grey-bg.p-80
	.container
		.benefits-content
			//=== single item====
			.benefit-item
				.benefit-img
					svg.svg-benefit1
						use(href='./img/sprite.svg#svg-benefit1')
				p Гарантия не менее 1 года на нашу продукцию
				a(href="#!").link Подробнее
			//=== single item====
			.benefit-item
				.benefit-img
					svg.svg-benefit1
						use(href='./img/sprite.svg#svg-benefit2')
				p Собственное производство, до 10000 костюмов в месяц
				a(href="#!").link Подробнее
			//=== single item====
			.benefit-item
				.benefit-img
					svg.svg-benefit1
						use(href='./img/sprite.svg#svg-benefit3')
				p Качественные ткани, фурнитура и материалы
				a(href="#!").link 
			//=== single item====
			.benefit-item
				.benefit-img
					svg.svg-benefit1
						use(href='./img/sprite.svg#svg-benefit4')
				p Изготовим и нанесем логотипы и шевроны под заказ
				a(href="#!").link Подробнее
			//=== single item====
			.benefit-item
				.benefit-img
					svg.svg-benefit1
						use(href='./img/sprite.svg#svg-benefit5')
				p Пошив под ключ на давальческом сырье от 300 штук
				