//======BENEFITS=====
section.benefits.grey-bg.p-80
	.container
		.benefits-content
			//=== single item====
			.benefit-item
				.benefit-img
					svg.svg-benefit1
						use(href='./img/sprite.svg#svg-benefit1')
				p Гарантия не менее 1 года на нашу продукцию
				a(href="#!").link Подробнее
			//=== single item====
			.benefit-item
				.benefit-img
					svg.svg-benefit1
						use(href='./img/sprite.svg#svg-benefit2')
				p Гарантия не менее 1 года на нашу продукцию
				a(href="#!").link Подробнее
			//=== single item====
			.benefit-item
				.benefit-img
					svg.svg-benefit1
						use(href='./img/sprite.svg#svg-benefit3')
				p Гарантия не менее 1 года на нашу продукцию
				a(href="#!").link Подробнее
			//=== single item====
			.benefit-item
				.benefit-img
					svg.svg-benefit1
						use(href='./img/sprite.svg#svg-benefit4')
				p Гарантия не менее 1 года на нашу продукцию
				a(href="#!").link Подробнее
			//=== single item====
			.benefit-item
				.benefit-img
					svg.svg-benefit1
						use(href='./img/sprite.svg#svg-benefit5')
				p Гарантия не менее 1 года на нашу продукцию
				a(href="#!").link Подробнее