//==== клиенты===
section.clients
	.container
		h2.h1 Наши клиенты
		.clients-wrapper
			.clients-grid.d-grid
				.client-logo
					img.lazy(src="./img/logos/logo1.webp", width="157" height="56" alt="alt")
				.client-logo
					img.lazy(src="./img/logos/logo2.webp", width="101" height="64" alt="alt")
				.client-logo
					img.lazy(src="./img/logos/logo3.webp", width="160" height="35" alt="alt")
				.client-logo
					img.lazy(src="./img/logos/logo4.webp", width="124" height="64" alt="alt")
				.client-logo
					img.lazy(src="./img/logos/logo5.webp", width="136" height="64" alt="alt")
				.client-logo
					img.lazy(src="./img/logos/logo6.webp", width="159" height="57" alt="alt")
				.client-logo
					img.lazy(src="./img/logos/logo7.webp", width="160" height="55" alt="alt")
				.client-logo
					img.lazy(src="./img/logos/logo8.webp", width="64" height="64" alt="alt")
				.client-logo
					img.lazy(src="./img/logos/logo9.webp", width="160" height="24" alt="alt")
				.client-logo
					img.lazy(src="./img/logos/logo10.webp", width="79" height="64" alt="alt")
				.client-logo
					img.lazy(src="./img/logos/logo11.webp", width="115" height="51" alt="alt")
				.client-logo
					img.lazy(src="./img/logos/logo12.webp", width="161" height="25" alt="alt")
				.client-logo
					img.lazy(src="./img/logos/logo13.webp", width="155" height="49" alt="alt")
				.client-logo
					img.lazy(src="./img/logos/logo14.webp", width="81" height="64" alt="alt")
				.client-logo
					img.lazy(src="./img/logos/logo15.webp", width="157" height="30" alt="alt")
				.client-logo
					img.lazy(src="./img/logos/logo16.webp", width="78" height="64" alt="alt")
				.client-logo
					img.lazy(src="./img/logos/logo17.webp", width="138" height="64" alt="alt")
				.client-logo
					img.lazy(src="./img/logos/logo18.webp", width="160" height="44" alt="alt")