//=====OUR COLLECTION====
section.collection
	.container
		h2.h1 Наша коллекция
		.collection-wrapper
			.mini-card
				a(href="./img/product1.webp" data-fancybox).card-img
					img.lazy(src="./img/product1.webp", width="260" height="361" alt="img")
				a(href="single-page.html").bold-18 Летняя спецодежда 
			.mini-card
				a(href="./img/product2.webp" data-fancybox).card-img
					img.lazy(src="./img/product2.webp", width="260" height="361" alt="img")
				a(href="#!").bold-18 Униформа
			.mini-card
				a(href="./img/product3.webp" data-fancybox).card-img
					img.lazy(src="./img/product3.webp", width="260" height="361" alt="img")
				a(href="#!").bold-18 Зимняя одежда
			.mini-card
				a(href="./img/product4.webp" data-fancybox).card-img
					img.lazy(src="./img/product4.webp", width="260" height="361" alt="img")
				a(href="#!").bold-18 Рабочая одежда
