mixin select-city
	.select-city
		.select-city-trigger Москва
		.select-city-tabs
			.tabs-trigger
				span.tab-btn.active А
				span.tab-btn Б
				span.tab-btn в
				span.tab-btn г
				span.tab-btn д
				span.tab-btn е
				span.tab-btn ж
				span.tab-btn з
				span.tab-btn и
				span.tab-btn К
				span.tab-btn л
				span.tab-btn м
				span.tab-btn н
				span.tab-btn о
				span.tab-btn п
				span.tab-btn р
				span.tab-btn с
				span.tab-btn т
				span.tab-btn у
				span.tab-btn ф
				span.tab-btn х
				span.tab-btn ц
				span.tab-btn ч
				span.tab-btn ш
				span.tab-btn щ
				span.tab-btn э
				span.tab-btn ю
				span.tab-btn я
			.tabs-content
				.tab-item.active
					span.custom-option(data-value='1') Арзамас
					span.custom-option(data-value='2') Архангельск
					span.custom-option(data-value='3') Астрахань
					span.custom-option(data-value='1') Арзамас
					span.custom-option(data-value='2') Архангельск
					span.custom-option(data-value='3') Астрахань
					span.custom-option(data-value='1') Арзамас
					span.custom-option(data-value='2') Архангельск
					span.custom-option(data-value='3') Астрахань
					span.custom-option(data-value='1') Арзамас
					span.custom-option(data-value='2') Архангельск
					span.custom-option(data-value='3') Астрахань
					span.custom-option(data-value='1') Арзамас
					span.custom-option(data-value='2') Архангельск
					span.custom-option(data-value='3') Астрахань
					span.custom-option(data-value='1') Арзамас
					span.custom-option(data-value='2') Архангельск
					span.custom-option(data-value='3') Астрахань
					span.custom-option(data-value='1') Арзамас
					span.custom-option(data-value='2') Архангельск
					span.custom-option(data-value='3') Астрахань
					span.custom-option(data-value='1') Арзамас
					span.custom-option(data-value='2') Архангельск
					span.custom-option(data-value='3') Астрахань
				.tab-item
					span.custom-option(data-value='4') Брянск
					span.custom-option(data-value='5') Белгород
					span.custom-option(data-value='3') Буйнакск
					span.custom-option(data-value='4') Брянск
					span.custom-option(data-value='5') Белгород
					span.custom-option(data-value='3') Буйнакск
					span.custom-option(data-value='4') Брянск
					span.custom-option(data-value='5') Белгород
					span.custom-option(data-value='3') Буйнакск
					
				.tab-item
					span.custom-option(data-value='6') Воркута
					span.custom-option(data-value='7') Волгоград
					span.custom-option(data-value='7') Волгоград
					span.custom-option(data-value='7') Волгоград

	
footer.footer
	.footer-top
		.container
			.footer-content.d-grid
				//====left===
				.footer-text
					a(href="index.html").logo
						svg.svg-logo.svg-logo--white
							use(href='./img/sprite.svg#svg-logo')
					
					p.txt-14 Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря
				
				//===right===
				.footer-nav
					ul.menu-list
						li
							a(href="#!").link  Главная
						li
							a(href="#!").link  Каталог
						li
							a(href="#!").link  О компании
						li
							a(href="#!").link  Главная
						li
							a(href="#!").link  Личный кабинет
					
					ul.menu-list
						
						li
							a(href="#!").link  Индивидульный пошив
						li
							a(href="#!").link  Покупателям
						li
							a(href="#!").link  Контакты
					.footer-contacts
						.custom-select-wrapper
							+select-city
						
						a(href="tel:+77897897878").contact-link.contact-phone +7 789 789 78 78
						
						a(href="emailto:info@format.ru").contact-link.contact-email info@format.ru
						
						address 117105, г. Москва,<br> Рязанский проспект, дом 10 с18
