//====== GET CATALOGY ====
section.get-catalogy
	.get-catalogy-bg.dark-bg
		.container
			.get-catalogy-row
				h2.h1 Наш каталог
				p.txt-20 Получите наш каталог в формате  PDF на email за 5&nbsp;секунд
				//====form====
				form.get-catalogy-form(action="#")
					.form-item
						input(type="text" name="email" placeholder="Введите ваш email")
					.form-btn
						button.button-outline.btn-slim(type="submit") Получить
				
				//=== image====
				.get-catalogy-img
					picture
						img.lazy(src="./img/mockup1.webp", width="400" height="545" alt="img")