//=====получить образец ====
section.get-sample
	.container
		.get-sample-content.d-grid
			.get-sample-img
				img(src="./img/forma.webp", width="361" height="312" alt="img")
			.get-sample-text
				h2.h1 Получить образец
				p Получите образец нашей работы в кратчайшие сроки. Сделаем по вашим лекалам.
			.get-sample-btn
				button.btn(type="button") ЗАПРОСИТЬ СЕЙЧАС