.menu-wrapper-content
	.header-menu.drop-menu
		ul.level-1
			li.active
				a.link-center(href="index.html") Главная
			
			// пункт меню  с подменю 
			li.drop-menu.drop-menu_2
				a.link-center(href="#!") Каталог
				span.drop-icon
				// второй  уровень
				.submenu.submenu--medium.submenu-2
					ul
						li.drop-menu.drop-menu_3
							a(href="#!") Пошив рабочей одежды
							span.drop-icon
							// третий уровень 
							.submenu.submenu-3
								ul
									li
										a(href="#!") Пошив сигнальных жилетов сигнальных жилетов
									li
										a(href="#!") Пошив рабочих костюмов
									li
										a(href="#!") Пошив халатов
									li
										a(href="#!") Пошив комбинезонов
									li
										a(href="#!") Пошив рабочих брюк
									li
										a(href="#!") Пошив фартуков
									li
										a(href="#!") Пошив зимней спецодежды
						
						li.drop-menu.drop-menu_3
							a(href="#!") Пошив униформы
							span.drop-icon
							// третий уровень 
							.submenu.submenu-3
								ul
									li
										a(href="#!") Пошив сигнальных жилетов
									li
										a(href="#!") Пошив рабочих костюмов
									li
										a(href="#!") Пошив халатов
									li
										a(href="#!") Пошив комбинезонов
									li
										a(href="#!") Пошив рабочих брюк
						li.drop-menu.drop-menu_3
							a(href="#!") Пошив медицинской формы
							span.drop-icon
							// третий уровень 
							.submenu.submenu-3
								ul
									li
										a(href="#!") Пошив сигнальных жилетов
									li
										a(href="#!") Пошив рабочих костюмов
									li
										a(href="#!") Пошив халатов
									li
										a(href="#!") Пошив комбинезонов
									li
										a(href="#!") Пошив рабочих брюк
						li.drop-menu.drop-menu_3
							a(href="#!") Пошив текстиля на заказ
							span.drop-icon
							// третий уровень 
							.submenu.submenu-3
								ul
									li
										a(href="#!") Пошив сигнальных жилетов
									li
										a(href="#!") Пошив рабочих костюмов
									li
										a(href="#!") Пошив халатов
									li
										a(href="#!") Пошив комбинезонов
						li.drop-menu.drop-menu_3
							a(href="#!") ОЕМ товары под логотипы
							span.drop-icon
							// третий уровень 
							.submenu.submenu-3
								ul
									li
										a(href="#!") Пошив сигнальных жилетов
									li
										a(href="#!") Пошив рабочих костюмов
									li
										a(href="#!") Пошив халатов
									li
										a(href="#!") Пошив комбинезонов
						li.drop-menu.drop-menu_3
							a(href="#!") Шевроны
							span.drop-icon
							// третий уровень 
							.submenu.submenu-3
								ul
									li
										a(href="#!") Пошив сигнальных жилетов
									li
										a(href="#!") Пошив рабочих костюмов
									li
										a(href="#!") Пошив халатов
									li
										a(href="#!") Пошив комбинезонов
			li
				a.link-center(href="#!") О компании
			li
				a.link-center(href="#!") Индивидуальный пошив
			li
				a.link-center(href="#!") Покупателям
	
	//=====logo===
	.menu-logo
		svg.svg-logo.svg-logo--white
			use(href='./img/sprite.svg#svg-logo')