.menu-wrapper-content
	.header-menu.drop-menu
		ul.menu-list
			li.menu-list-item
				a.menu-link(href="index.html") Главная
			
			// пункт меню  с подменю 
			li.menu-list-item.drop-menu.drop-menu_2
				
				.drop-icon.drop-icon-mobile
					a.menu-link(href="#!") Каталог
				
				// второй  уровень
				.submenu.submenu-2
					ul.submenu-list
						li.drop-menu.drop-menu_3
							.drop-icon
								a.submenu-link(href="catalogy.html") Пошив рабочей одежды
							include ../blocks/_mobile-menu-level
						li.drop-menu.drop-menu_3
							.drop-icon
								a.submenu-link(href="#!") Пошив униформы
							include ../blocks/_mobile-menu-level
						li.drop-menu.drop-menu_3
							.drop-icon
								a.submenu-link(href="#!") Пошив медицинской формы
							include ../blocks/_mobile-menu-level
						li.drop-menu.drop-menu_3
							.drop-icon
								a.submenu-link(href="#!") Пошив текстиля на заказ
							include ../blocks/_mobile-menu-level
						li.drop-menu.drop-menu_3
							.drop-icon
								a.submenu-link(href="#!") ОЕМ товары под логотипы
							include ../blocks/_mobile-menu-level
						li.drop-menu.drop-menu_3
							.drop-icon
								a.submenu-link(href="#!") Шевроны
							include ../blocks/_mobile-menu-level						
			li.menu-list-item
				a.menu-link(href="#!") О компании
			li.menu-list-item
				a.menu-link(href="#!") Индивидуальный пошив
			li.menu-list-item
				a.menu-link(href="#!") Покупателям
	
	//=====logo===
	.menu-logo
		svg.svg-logo.svg-logo--white
			use(href='./img/sprite.svg#svg-logo')