header.header
	//==== header top ====
	.header-row.header-top
		p.demi-12 Производитель спецодежды и текстиля на заказ
		.header-column.fl-y
			//==== phone===
			a.contact-link.d-desck(href="#!"  data-target="call-form")
				svg.svg-phone
					use(href='./img/sprite.svg#svg-phone')
				span.d-desck Заказать обратный звонок
			a.contact-link.d-laptop(href="tel:+77897897878" )
				svg.svg-phone
					use(href='./img/sprite.svg#svg-phone')
				span.d-laptop +7 789 789 78 78
			//==== wa===
			a.contact-link.social-wapp(href="#!")
				img(src="./img/wa.svg", width="16" height="16" alt="whatsapp")
				span  Whatsapp
			//==== email===
			a.contact-link.contact-link--email(href="mailto:info@format.ru")
				svg.svg-envelope
					use(href='./img/sprite.svg#svg-envelope')
				span info@format.ru
			
			//=====menu-toggle===
			button.menu-toggle#menu-toggle
				span
	//==== header bottom ====
	.header-row.header-bottom
		a(href="index.html").logo
			svg.svg-logo
				use(href='./img/sprite.svg#svg-logo')
		
		#menu.menu-wrapper
			include _header-menu.pug
				
		.contacts-phone
			a(href="").txt-big +7 789 789 78 78
			.online-state.active
				span.online-state__dot
				span.online-state__text Сейчас работаем
		
		button.btn-cart.btn-icon(type="button")
			.count-label
				span 5
			svg.svg-cart
				use(href='./img/sprite.svg#svg-cart')

