//======= HERO ======
section.hero
	.container
		.hero-swiper-wrapper
			//===slider====
			.hero-swiper.swiper
				.swiper-wrapper
					//=== single slide ====
					.swiper-slide
						.hero-slide
							//====slide text ====
							.hero-slide-text
								.h1 Производство спецодежды из наличия и на заказ
								p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.
								.btn-group
									a.btn(href="#!") Связаться с нами
									a.button(href="#!") Вторая кнопка
							//====slide img ====
							.hero-slide-img
								.hero-slide-label
									img(src="./img/mark.webp", width="219" height="86" alt="logo")
								picture
									img.lazy(src="./img/hero-slide.webp", width="857" height="580" alt="img")
					//=== single slide ====
					.swiper-slide
						.hero-slide
							//====slide text ====
							.hero-slide-text
								.h1 Качество, оперативность, низкие цены!
								p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.
								.btn-group
									a.btn(href="#!") Связаться с нами
									a.button(href="#!") Вторая кнопка
							//====slide img ====
							.hero-slide-img
								picture
									img.lazy(src="./img/hero-slide2.webp", width="857" height="580" alt="img")
					//=== single slide ====
					.swiper-slide
						.hero-slide
							//====slide text ====
							.hero-slide-text
								.h1 Производство спецодежды из наличия и на заказ
								p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.
								.btn-group
									a.btn(href="#!") Связаться с нами
									a.button(href="#!") Вторая кнопка
							//====slide img ====
							.hero-slide-img
								picture
									img.lazy(src="./img/hero-slide3.webp", width="857" height="580" alt="img")
					//=== single slide ====
					.swiper-slide
						.hero-slide
							//====slide text ====
							.hero-slide-text
								.h1 Постоянным клиентам скидка до 30%!
								p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.
								.btn-group
									a.btn(href="#!") Связаться с нами
									a.button(href="#!") Вторая кнопка
							//====slide img ====
							.hero-slide-img
								picture
									img.lazy(src="./img/hero-slide4.webp", width="857" height="580" alt="img")
				//=====slider paginatopn ======
				.hero-pagination.swiper-pagination