section.services
	.container
		h2.h1 Пошив на заказ
		.services-content
			//==== single card ===
			.serv-card
				.serv-card__img
					img.lazy(src="./img/serv1.webp", width="360" height="360" alt="alt")
				.serv-card__text
					.h3 Пошив рабочей одежды
					ul.mark-list
						li
							a(href="#!") Пошив сигнальных жилетов
						li
							a(href="#!") Пошив рабочих костюмов
						li
							a(href="#!") Пошив халатов
						li
							a(href="#!") Пошив комбинезонов
						li
							a(href="#!") Пошив рабочих брюк
						li
							a(href="#!") Пошив фартуков
						li
							a(href="#!") Пошив зимней спецодежды
			
			//==== single card ===
			a(href="#!").serv-card
				.serv-card__img
					img.lazy(src="./img/serv2.webp", width="360" height="360" alt="alt")
				.serv-card__text
					.h3 Пошив униформы

			//==== single card ===
			a(href="#!").serv-card
				.serv-card__img
					img.lazy(src="./img/serv3.webp", width="360" height="360" alt="alt")
				.serv-card__text
					.h3 Пошив медицинской формы

			//==== single card ===
			a(href="#!").serv-card
				.serv-card__img
					img.lazy(src="./img/serv4.webp", width="360" height="360" alt="alt")
				.serv-card__text
					.h3 Пошив текстиля на заказ
			//==== single card ===
			a(href="#!").serv-card
				.serv-card__img
					img.lazy(src="./img/serv5.webp", width="360" height="360" alt="alt")
				.serv-card__text
					.h3 ОЕМ товары под логотипы
			//==== single card ===
			a(href="#!").serv-card
				.serv-card__img
					img.lazy(src="./img/serv6.webp", width="360" height="360" alt="alt")
				.serv-card__text
					.h3 Шевроны