section.services
	.container
		h2.h1 Пошив на заказ
		.services-content
			//==== single card ===
			.serv-card
				.serv-card__img
					img.lazy(src="./img/serv1.webp", width="360" height="360" alt="alt")
				.serv-card__text
					.h3.serv-card-btn Пошив рабочей одежды
					ul.mark-list
						li
							a(href="#!") Пошив сигнальных жилетов
						li
							a(href="#!") Пошив рабочих костюмов
						li
							a(href="#!") Пошив халатов
						li
							a(href="#!") Пошив комбинезонов
						li
							a(href="#!") Пошив рабочих брюк
						li
							a(href="#!") Пошив фартуков
						li
							a(href="#!") Пошив зимней спецодежды
			
			//==== single card ===
			.serv-card
				.serv-card__img
					img.lazy(src="./img/serv2.webp", width="360" height="360" alt="alt")
				.serv-card__text
					.h3.serv-card-btn Пошив униформы
					ul.mark-list
						li
							a(href="#!") Пошив сигнальных жилетов
						li
							a(href="#!") Пошив рабочих костюмов
						li
							a(href="#!") Пошив халатов
						li
							a(href="#!") Пошив комбинезонов
						li
							a(href="#!") Пошив рабочих брюк
						li
							a(href="#!") Пошив фартуков
						li
							a(href="#!") Пошив зимней спецодежды
			//==== single card ===
			.serv-card
				.serv-card__img
					img.lazy(src="./img/serv3.webp", width="360" height="360" alt="alt")
				.serv-card__text
					.h3.serv-card-btn Пошив медицинской формы
					ul.mark-list
						li
							a(href="#!") Пошив сигнальных жилетов
						li
							a(href="#!") Пошив рабочих костюмов
						li
							a(href="#!") Пошив халатов
						li
							a(href="#!") Пошив комбинезонов
						
			//==== single card ===
			.serv-card
				.serv-card__img
					img.lazy(src="./img/serv4.webp", width="360" height="360" alt="alt")
				.serv-card__text
					.h3.serv-card-btn Пошив текстиля на заказ
					ul.mark-list
						li
							a(href="#!") Пошив сигнальных жилетов
						li
							a(href="#!") Пошив рабочих костюмов
						li
							a(href="#!") Пошив халатов
						li
							a(href="#!") Пошив комбинезонов
						li
							a(href="#!") Пошив рабочих брюк
						
			//==== single card ===
			.serv-card
				.serv-card__img
					img.lazy(src="./img/serv5.webp", width="360" height="360" alt="alt")
				.serv-card__text
					.h3.serv-card-btn ОЕМ товары под логотипы
					ul.mark-list
						li
							a(href="#!") Пошив сигнальных жилетов
						li
							a(href="#!") Пошив рабочих костюмов
						li
							a(href="#!") Пошив халатов
						li
							a(href="#!") Пошив комбинезонов
						li
							a(href="#!") Пошив рабочих брюк
						
			//==== single card ===
			.serv-card
				.serv-card__img
					img.lazy(src="./img/serv6.webp", width="360" height="360" alt="alt")
				.serv-card__text
					.h3.serv-card-btn Шевроны
					ul.mark-list
						li
							a(href="#!") Пошив сигнальных жилетов
						li
							a(href="#!") Пошив рабочих костюмов
						li
							a(href="#!") Пошив халатов
						li
							a(href="#!") Пошив комбинезонов
						