//====== statistic ========
section.statistic
	.container
		.statistic-bg
			.statistic-content
				.statistic-img
					img(src="./img/img.webp", width="260" height="150" alt="alt")
				.statistic-item
					p 18 000 +
					span Изделий выпущено<br> за последний год
				.statistic-item
					p 346
					span Сотрудников
				.statistic-item
					p 1 348
					span Станков запущено