//=====subscribe form =====
section.subscribe.dark-bg
	.container
		.subscribe-content.d-grid
			.subscribe-title
				h2.h1 Подпишитесь на рассылку
				.txt-20 Новинки, акции и новости нашей компании Вы получите первыми!
			//====form====
			form.d-flex(action="#")
				.form-item
					input(type="text" name="email" placeholder="Введите ваш email")
				.form-btn
					button.button-outline.btn-slim(type="submit") Подписаться