  @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
* {
	  box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  :root{
    --sliderDuration: 4s; /*длительность анимации пагинации слайдера*/
    --dark: #1A1A18;
    --dark-bg: #1A1A18;
    --red: #e3000f;


    --ff: 'Mont';
    -ff-sec: 'Montserrat';
  }
  html {
	 scroll-behavior: smooth;
  }

  html,
  body {
	margin: 0;
	padding: 0;
	width: 100%;
  font-family: var(--ff), sans-serif;
	-webkit-font-smoothing: antialiased;
   line-height: 1.3;
   font-size: 16px;
   background-color: #fff;
   @media (max-width: 767px) {
   font-size: 12px;
   }
  }
  .lock {
	  overflow: hidden;
	  touch-action: none;
	  -ms-touch-action: none;
	  height: 100vh;
  }
  section .h1{
    margin-bottom: 30px;
  }
  a,a:hover{color: inherit; text-decoration: none;}
  
  
  h1,
  h2,
  h3,
  h4,h5,h6,
  p, ul, ol {

  margin: 0;
  padding: 0;
  list-style-type: none;
  }
 
  img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
  object-fit: cover;
  }
  
  input,
  button, textarea, textarea:focus, select, select:focus, button:focus, input:focus, a, a:active {
    padding: 0;
	  outline: none;
    font-family: inherit;
    font-size: inherit;
  }
  input::placeholder{
    font-family: inherit;
    font-size: 12px;
  } 
  button,input[type="submit"] {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
  display: inline-block;
  }
input[type="submit"]{
	
  appearance: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}
.container, .header-row{
  width: min(1190px, 100%);
  padding-inline: 15px;
  margin-inline: auto;
}
.header-row{
  width: 100%;
  padding-inline: 35px;
  @media (max-width: 1199px) {
  padding-inline: 15px;
  }
}
/*======= классы сетки========*/
.d-flex, .flex-center, .fl-y, .fl-x, .fl-col-y, .fl-col-x, .fl-justify,
.icon-item,.header-row,.contact-link,.online-state,.btn-group{
  display: flex;
  column-gap:14px;
}
.fl-y, .fl-col-y,.flex-center,.icon-item,.fl-justify,.header-row,
.contact-link,.online-state,.btn-group{
  align-items: center;
}
.fl-col{
  flex-direction: column;
}
.flex-center, .fl-x,.fl-col-x{
  justify-content: center;
}
.fl-justify,.header-top{
  justify-content: space-between;
}
.d-grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 40px;
  @media (max-width: 1023px) {
    column-gap: 20px;
  }
}
.d-desck{
  display: block;
  @media (max-width: 1279px) {
    display: none!important;
  }
}
.d-laptop {
  display: none;

  @media (max-width: 1279px) {
    display: block;
  }
}


/*texts*/
.txt-center{
  text-align: center;
}
.dark-bg{
  background-color: var(--dark-bg);
  * , .h1{color: white;}
}
