form, label, input, textarea{display: block;}
.form-item{
	position: relative;
	input{
		width: 100%;
		height: 44px;
		background-color: #fff;
		padding-inline:13px;
		@media (max-width: 767px) {
		  height: 35px;
		}
	}
}
.subscribe-block form{
	.txt-20 {
		max-width: 50%;

		@media (max-width: 1023px) {
			max-width: 330px;
		}
	}

	@media (max-width: 767px) {
		max-width: 100%;

		.txt-20 {
			width: 145px;
			
		}
	}
}
.subscribe-block form{
		margin-top: 10px;
		display: flex;
		column-gap: 20px;
		position: relative;
		z-index: 2;

		.form-item {
			flex-grow: 1;
		}

		.form-btn {
			flex-shrink: 0;
		}

		.button-outline {
			height: 44px;
			width: 219px;
			padding-inline: 10px;
		}

		@media (max-width: 767px) {
			margin-top: 20px;
			.button-outline {
				height: 35px;
				width: 134px;
			}

		}

		@media (max-width: 576px) {
			flex-direction: column;
			row-gap: 16px;
			align-items: center;

			.form-item {
				width: 100%;
			}
		}
	}
