form, label, input, textarea{display: block;}
.form-item{
	position: relative;
	input, textarea{
		width: 100%;
		height: 44px;
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.3);
		padding-inline:13px;
		
		@media (max-width: 767px) {
		  height: 35px;
		}
	}
	label{
		margin-bottom: 12px;
		font-size: 18px;
		@media (max-width: 1199px) {
		font-size: 16px;
		}
		@media (max-width: 767px) {
		font-size: 12px;
		margin-bottom: 6px;
		}
	}
	textarea{
		height: 130px;
		resize: none;
		@media (max-width: 767px) {
		height: 100px;
		}
	}
}



/* input type file*/
.custom-file-input {
	display: flex;
	align-items: center;

	.file-input {
		display: none;
		/* Прячем настоящий input */
	}

	.file-label {
		display: inline-flex;
		align-items: center;
		cursor: pointer;
		column-gap: 8px;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
		background: #f1f1f1;
		border: 1px solid rgba(0, 0, 0, 0.3);
		height: 44px;
		padding-left: 16px;
		padding-right: 16px;
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 0;
		@media (max-width: 767px) {
			font-size: 10px;
			height: 32px;
		}
	}
	
}
.custom-select-wrapper {
	position: relative;
	width: 100%;
	user-select: none;
}

.custom-select {
	position: relative;
	width: 100%;
	font-size: 12px;
	color: var(--dark);
	
}

.custom-select-trigger {
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: #fff;

	padding: 6px 40px 8px 18px;
	position: relative;
	
	cursor: pointer;

	&:after {
		content: '';
		display: inline-block;
		width: 14px;
		height: 7px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='7' viewBox='0 0 14 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13 6L7.84853 0.848528C7.3799 0.379898 6.6201 0.379898 6.15147 0.848527L0.999999 6' stroke='%23000000' stroke-linecap='round' /%3e%3c/svg%3e");
		position: absolute;
		right: 13px;
		top: 13px;
		pointer-events: none;
		transform: rotate(180deg);
		z-index: 3;
	}

	.open &:after {
		transform: rotate(0);
	}
}

.custom-options {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	
	
	background: #f2f2f2;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease;
	z-index: 10;
	

}

.custom-options.custom-options--rel {
	position: relative;
	top: auto;
	
}

.custom-option {
	
	display: block;
	cursor: pointer;
	
	padding: 6px 40px 8px 18px;

}


.custom-option:hover {
	background-color: #f2f2f2;
}

.custom-select.open .custom-options {
	display: block;
	box-sizing:content-box;
	padding-block: 16px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-top: 0;
}
/******************/
.form-checkbox{
	align-items: center;
	column-gap:5px;
	input{
		width: 18px;
		height: 18px;
	}
}