form, label, input, textarea{display: block;}
.form-item{
	position: relative;
	input, textarea{
		width: 100%;
		height: 44px;
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.3);
		padding-inline:13px;
		
		@media (max-width: 767px) {
		  height: 35px;
		}
	}
	label{
		margin-bottom: 12px;
		font-size: 18px;
		@media (max-width: 1199px) {
		font-size: 16px;
		}
		@media (max-width: 767px) {
		font-size: 12px;
		margin-bottom: 6px;
		}
	}
	textarea{
		height: 130px;
		resize: none;
		@media (max-width: 767px) {
		height: 100px;
		}
	}
}
.btn-slim{
	height: 44px;
	width: 219px;
	padding-inline: 10px;

	@media (max-width: 767px) {
		height: 35px; width: 134px;
		 
	}
}
/* input type file*/
.custom-file-input {
	display: flex;
	align-items: center;

	.file-input {
		display: none;
		/* Прячем настоящий input */
	}

	.file-label {
		display: inline-flex;
		align-items: center;
		cursor: pointer;
		column-gap: 8px;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
		background: #f1f1f1;
		border: 1px solid rgba(0, 0, 0, 0.3);
		height: 44px;
		padding-left: 16px;
		padding-right: 16px;
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 0;
		@media (max-width: 767px) {
			font-size: 10px;
			height: 32px;
		}
	}
	
}
