*[class^="svg-"]{
	display: inline-block;
}
svg{
	color: var(--black);
}
.svg-logo{
	width: 206px;
	height: 46px;
	color: #1a1a1b;
}
.svg-logo.svg-logo--white{color: white;}

.svg-phone{
	width: 17px;
	height: 17px;
}
.svg-envelope {
	width: 24px;
	height: 18px;
}
.svg-cart{
	width: 40px;
	height: 40px;
	color: white;
	fill: transparent;
	@media (max-width: 1279px) {
	width: 24px;
	height: 24px;
	}
}
.svg-benefit1, .svg-benefit2, .svg-benefit3, .svg-benefit4, .svg-benefit5{
	width: 68px;
	height: 69px;
	fill: transparent;
}
.svg-paper{
	width: 20px;
	height: 20px;
	fill: transparent;
	@media (max-width: 767px) {
	width: 15px;
	height: 15px;
	}
}
.round-icon{
	width: 30px;
	height: 30px;
	
	border-radius: 50%;
	flex-shrink:0;
	background-color: var(--green);
	transition: .3s; 
	svg{color: white;}
	&:hover{opacity: .7;}
}