*[class^="svg-"]{
	display: inline-block;
}
svg{
	color: var(--black);
}
.svg-logo{
	width: 206px;
	height: 46px;
	color: #1a1a1b;
}
.menu-wrapper .svg-logo{color: white;}
.svg-phone{
	width: 17px;
	height: 17px;
}
.svg-envelope {
	width: 24px;
	height: 18px;
}
.svg-cart{
	width: 40px;
	height: 40px;
	color: white;
	fill: transparent;
}