/*=TYPOGRAPHY=*/
.h1{
	font-weight: 700;
	font-size: 46px;
	color: var(--dark);
	@media (max-width: 1439px) {
		font-size: 40px;
	}
	@media (max-width: 1199px) {
		font-size: 36px;
	}
	@media (max-width: 1023px) {
		font-size: 32px;
	}
	@media (max-width: 767px) {
	font-size: 20px;
	}
}
.h3, .txt-20{
	font-size: 20px;
	font-weight: 600;
	@media (max-width: 767px) {
	  font-size: 14px;
	}
}
.txt-20{font-weight: 400;}
.bold-18{
	font-size: 18px;
	font-weight: 700;
	@media (max-width: 1023px) {
		font-size: 14px
	}
}
.txt-light{font-weight: 300;}
.icon-item,.contact-link{
	svg, img{flex-shrink: 0;}
	@media (max-width: 767px) {
	column-gap:6px;
	}
}
.contact-link{
	font-size: 12px;
	font-weight: 600;
	transition: .3s;
	&:hover{color: #777;}
}
.demi-12{
	font-size: 12px;
	font-weight: 600;
}
.txt-big{
	font-size: 24px;
	font-weight: 700;
}
.online-state__dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	background-color: lightgrey;
}
.online-state{
	font-size: 12px;
	font-weight: 600;
	color: var(--dark);
	column-gap:8px;
}
.online-state.active{
	.online-state__dot{background-color: #00A650;}
}
.mark-list{
	li{
		position: relative;
		padding-left: 20px;
	}
	li:before{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		
		width: 13px;
		height: 13px;
		background-image: url('../img/li-mark.webp');
		background-size: 13px 13px;
	}
}