.fotorama{
	&-display{
		width: 100%;
		aspect-ratio: 23 / 28;
		border:1px solid rgba(0,0,0, .2);
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&-thumbs{
		display: flex;
		padding-top: 20px;
		column-gap:18px;
	}
	.ft-item{
		width:calc((100% - 54px) / 4);
		aspect-ratio:1;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		border:1px solid rgba(0,0,0, .1);
		background-color: #fff;
		img{
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	.ft-item-active{border: 1px solid rgba(0, 0, 0, .1); 
		box-shadow: 0 0 10px rgba(0, 0, 0, .1) }
}