
.menu-wrapper{
	margin-left: 135px;
	@media (max-width: 1699px) {
		margin-left: 35px;
	}
	@media (max-width: 1439px) {
		margin-left: 15px;
	}
	@media (max-width: 1279px) {
		position: fixed;
		inset:0;
		top: 34px;
		background-color: rgba(255,255,255, .7);
		padding-right: 15px;
		padding-left: 16px;
		z-index: 10;
		margin-left: 0;
		transform: translateX(110%);
		display: flex;
		transition: .3s; 
		&.active{transform: translateX(0);}
	}
	.menu-logo {
		display: none;
	}
}

.header-menu {
	display: flex;
	align-items: center;
	height: 50px;
	@media (max-width: 1279px) {

	height: auto;
	max-height: calc(100vh - 150px);
	overflow:hidden;
	overflow-y: auto;
	}
}

.header-menu .menu-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	// padding-right: 35px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	@media (max-width: 1279px) {
		flex-direction: column;
		height: auto;
	}
}
.header-menu .menu-link{
	font-family: var(--ff-sec);
	font-size: 16px;
	font-weight: 500;
	white-space: nowrap;
}

.header-menu ul li {
	display: flex;
	align-items: center;
	height: 100%;
	position: relative;
	
	&:hover{a{color: white;}}
}

.header-menu ul .menu-list-item{
	padding-inline: 25px;
	border-left:3px solid transparent;
	
	
	&:hover {
			background-color: var(--dark);
			border-left: 3px solid var(--red);
	
			a {color: white;}
	
		}
	@media (max-width: 1599px) {
		padding-inline: 20px;
	}
	@media (max-width: 1279px) {
		padding-inline: 0;
		background-color: var(--dark);
		border-left: 3px solid transparent;
		&:hover{border-left: 3px solid transparent;}
	}
}
.drop-icon{
	position: relative;
	display: flex;
	align-items:center;
	justify-content: space-between;
	padding-right: 10px;
	cursor:pointer;
	
	@media (max-width: 1279px) {
		padding-right: 0;
		a{pointer-events: none;}
	}
	
}
.drop-icon:after {
	content: '';
	display: inline-block;
	transform: rotate(-90deg);
	width: 20px;
	height: 10px;
	opacity: 0.6;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12 1.25L6.5 6.75L1 1.25' stroke='white' stroke-width='1.52' /%3e%3c/svg%3e");
	background-size: 13px 8px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.drop-icon.drop-icon-mobile:after{
	display: none!important;
	
}
.drop-icon.drop-icon-mobile{
	@media (max-width: 1279px) {
		.menu-link{position: relative;}
	.menu-link:after{
		content: '';
			display: inline-block;
			position: absolute;
			right: -24px;
			top:13px;
			width: 20px;
			height: 10px;
			opacity: 0.6;
			transform: rotate(-90deg);
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12 1.25L6.5 6.75L1 1.25' stroke='white' stroke-width='1.52' /%3e%3c/svg%3e");
			background-size: 13px 8px;
			background-position: center;
			background-repeat: no-repeat;
		}
		&.active .menu-link:after{transform: rotate(0);}
	}
	
}

.header-menu ul li:hover:after {
	width: 100%;
}

.header-menu ul a {
	display: inline-block;
	font-size: 20px;
	line-height: 1;
	letter-spacing: 0.05em;
	color: var(--dark);
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	@media (max-width: 1279px) {
		color: white;
	}
}

.header-menu ul a:hover {
	color: var(--dark);
}

.header-menu  .submenu {
	position: absolute;
	left: -3px;
	top: 100%;
	z-index: 3;
	border-left: 3px solid var(--red);
	background-color: var(--dark-bg);
	width: 250px;
	padding: 20px;
	padding-right: 0;
	padding-top: 44px;
	padding-bottom: 24px;
	a{color: white}
	
}
.header-menu {
	.submenu-2, .submenu-3{
		padding-top: 20px;
	}
}
.header-menu .submenu-list, 
.header-menu .sub-submenu-list {
	display: block;
	
	.sub-menu-item, .sub-submenu-item{padding-inline:0; display: block;}
}
.sub-menu-item+.sub-menu-item,
.sub-submenu-item +.sub-submenu-item{margin-top: 16px;}
.header-menu .sub-submenu-list {
	
	padding-inline: 25px;
	
	@media (max-width: 1279px) {
		padding-inline: 0;
	}
}
.header-menu .drop-menu_3 {
	margin-left: 0;
	padding-inline:0;
	-webkit-transition: padding-left 0.3s;
	-o-transition: padding-left 0.3s;
	transition: padding-left 0.3s;
	position: relative;
	display: block;
}
.header-menu  .submenu-link,
.header-menu .sub-submenu-link{
	font-size: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position: center bottom 1px;
	background-size: 100% 1px;
	display: inline;
	background-image: linear-gradient(to right, transparent, transparent);
	
	line-height: 1.5;
}

.header-menu .drop-menu_3:hover .submenu-link,
.header-menu .sub-submenu-item:hover .sub-submenu-link{
	
	background-image: linear-gradient(to right, white, white);
}
.submenu ul li.drop-menu_3:hover > .drop-icon:after{
	transform: rotate(-90deg);
	opacity: 1;
}
.header-menu ul .submenu ul li:hover>a {
	color: #fff;
}


.header-menu ul .submenu ul li:after {
	display: none;
}

.header-menu  .submenu ul li+li {
	margin-top: 10px;
}


.header-menu  .submenu.submenu-3{
	top: -20px;
	left: 100%;
	@media (max-width: 1279px) {
		top: 0;
		margin-left: 15px;
	}
}

.header-menu ul .submenu.open-left {
	left: -100%;
}


.submenu-2,
.submenu-3 {
	visibility: hidden;
	margin-top: -5px;
	opacity: 0;
	-webkit-transition: margin-top 0.5s;
	-o-transition: margin-top 0.5s;
	transition: margin-top 0.5s;
}


li.drop-menu_2:hover .submenu-2,
li.drop-menu_3:hover .submenu-3 {
	visibility: visible;
	margin-top: 0;
	opacity: 1;
}


.drop-menu.drop-menu_2 >.drop-icon:after{
	display: none;
	@media (max-width: 1279px) {
	display: inline-block;
	transform: rotate(-90deg);
	}
}


.drop-icon.active:after {
	transform: rotate(0);
	
}


@media (max-width: 1279px) {
	.header-menu {
		align-items: flex-start;
	.submenu-link{
		font-size: 16px;
	}
	}
	.menu-wrapper-content{
		height: auto;
		width: 100%;
		max-width: 400px;
		margin-left: auto;
		background-color: var(--dark-bg);
		padding: 48px 25px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.menu-logo{
			display: flex;
			justify-content: center;
			padding-top: 20px;
		}
	}
	.header-menu ul {
		display: block;
		height: auto;
		width: 100%;
		padding-right: 0;
		li{
			padding-inline: 0;
		}

	}

	.header-menu ul li.active:after {
		display: none;
	}

	.header-menu ul a {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	
	.header-menu ul .submenu,
	.header-menu ul li:hover{
		border-left: 0;
	}
	
	.header-menu ul .submenu {
		position: relative;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-bottom: 0px;
		visibility: unset;
		height: 0;
		overflow: hidden;
		margin: 0;
		padding: 0;
		width: auto;
	}

	.header-menu ul li.drop-menu_2,
	.header-menu ul li.drop-menu_3 {
		display: block;
	}
	
	.header-menu ul li.drop-menu_2 .menu-link,	.header-menu .menu-link{text-align: center; display: block; margin-inline: auto;}
	
			
		

	li.drop-menu_2 .submenu-2.active,
	li.drop-menu_3 .submenu-3.active {
		height: auto;
		padding-bottom: 12px;
		padding-top: 12px;
		top:0;
	}
		.header-menu .sub-submenu-item{
			padding-right: 35px!important;
		}

	.submenu-2,
	.submenu-3 {
		opacity: 1;
	}
	.header-menu ul .submenu.submenu-3 {
		left: 0;
	}

	.header-menu ul .submenu.open-left {
		left: 0;
	}
}
