.pagination{
	display: flex;
	align-items: center;
	justify-content: flex-end;column-gap:2px;
	margin-top: 90px;
	@media (max-width: 767px) {
		justify-content: center;
		margin-top: 42px;
	}
	a{
		display: block;
		width: 28px;
		height: 28px;
		text-align: center;
		line-height: 28px;
		background-color: #fff;
		border-bottom:3px solid #fff;
		color: var(--dark);
		transition: .3s;
		flex-shrink:0;
		
		&.active{
			color: #fff;
			border-bottom:3px solid var(--red);
			background-color: var(--dark);
		}
		&:hover{
			color: #fff;
			border-bottom: 3px solid var(--dark);
			background-color: var(--red);
		}
	}
}