table {
	border-spacing: 0;
	// width: 100%;
	display: table;
	table-layout: fixed;
	
}

td,
th {
	height: 30px;
	font-size: 16px;
	text-align: center;
	font-weight: 600;
	border: 1px solid #bababa;
	// min-width: 130px;
	padding: 4px 10px;
	@media (max-width: 767px) {
	font-size: 12px;
	}
}

tbody tr:nth-child(2n) {
	background-color: #f2f2f2;
}
.table-large{
	table{
		border-left: 1px solid  #bababa;
		border-right: 1px solid  #bababa;
		// width: var(--tableSecondWidth);
	}
	td,th{
		border-right: 1px solid transparent;
		border-left: 1px solid transparent;
		text-align: left;
		font-size: 14px;
		@media (max-width: 767px) {
		font-size: 12px;
		}
	}

	// td:first-child,
	// th:first-child{width: var(--tableNoBorderFirstCell);;}
	td:last-child,th:last-child{
		// width: var(--tableNoBorderLastCell);
		text-align: center;
	}
}
.tables-wrapper{
	display: flex;
	column-gap:40px;
	@media (max-width: 1439px) {
		column-gap: 20px;
	}
	@media (max-width: 1199px) {
	flex-direction: column;
	row-gap:20px;
	}
}