table {
	border-spacing: 0;
	align-self: flex-start;
	display: inline-block;
	
}

td,
th {
	height: 30px;
	font-size: 16px;
	text-align: center;
	font-weight: 600;
	border: 1px solid #bababa;
	// min-width: 130px;
	padding: 4px 10px;
	@media (max-width: 767px) {
	font-size: 12px;
	}
}

tbody tr:nth-child(2n) {
	background-color: #f2f2f2;
}
.table{
	table-layout: fixed;
	td, th{min-width: 130px;}
}
table.table-w100{
	width: 100%;
	display: table;
}
td.cell-center, th.cell-center, .row-center {
	text-align: center;
}
table.table-large{
	border-left: 1px solid  #bababa;
	border-right: 1px solid  #bababa;
	td,th{
		border-right: 1px solid transparent;
		border-left: 1px solid transparent;
		text-align: left;
		font-size: 14px;
		@media (max-width: 767px) {
		font-size: 12px;
		}
	}

	td:last-child,th:last-child{
		
		text-align: center;
	}
}
