.duotabs-wrapper{
	.duotabs-toggle{
		display: flex;
		border-bottom: 0.3px solid rgba(0, 0, 0, 0.1);
		@media (max-width: 767px) {
		display: none;
		}
	}
	.duotabs-btn{
		padding: 10px 18px;
		font-size: 14px;
		font-weight: 600;
		border: 0.3px solid rgba(0, 0, 0, 0.1);
		border-bottom: 0;
		background-color: #f2f2f2;
		flex-shrink:0;
		line-height: 1;
		cursor:pointer;
		transition: .3s; 
		&:hover{
			background-color: #cecece;
		}
		&.active{
			background-color: #fff;
			position: relative;
			&:after{
				content:'';
				display: block;
				left: 0;
				right: 0;
				height: 1px;
				background-color: #fff;
				position: absolute;
				bottom: -1px;
				@media (max-width: 767px) {
					display: none;
				}
			}
		}
	}
	.duotabs-content{
		padding-block: 16px;
		font-size: 16px;
		display: none;
		&.active{display: block;}
		p+p{
			margin-top: 1em;
		}
	}
}

.duotabs-wrapper{
	
	@media (max-width: 767px) {
	.duotabs-btn{
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom:0;
		padding: 10px 18px;
		background-color: #f2f2f2;
		font-size: 12px;
		text-align: center;
		width: 100%;
		&:last-child{border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
		&:hover{background-color: #f2f2f2;}
		@media (max-width: 767px) {
			&.active{border-bottom: 1px solid rgba(0, 0, 0, 0.1);background-color: #f2f2f2;}
		}
	}
	.duotabs-content{
		padding-top: 12px;
		padding-bottom: 12px;
		font-size: 12px;
	  }
	}
}

.duotabs-btn.duotabs-btn--mobile{
	display: none;
}
@media (max-width: 767px) {
	.duotabs-toggle{display: none;}
	.duotabs-btn.duotabs-btn--mobile{display: block;}
	
}