extends ../layouts/layout.pug

block content
	.page-wrapper
		include ../sections/_header.pug
		main.main
			section.blog-hero
				.container
					.blog-hero-content.d-grid
						.blog-hero-txt
							h1.h1 Спецодежда на заказ
							.preview-text
								p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.

								p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.
							button.btn(type="button") Связаться с нами
						
						.blog-hero-img
							p.h1 Спецодежда на заказ
							img(src="./img/hero-slide2.webp", alt="img")

			//=====Наши работы ======
			section.portfolio
				.container
					h2.h2 Наши работы
					article.portfolio-swiper-wrapper
						.portfolio-swiper.swiper
							.swiper-wrapper
								.swiper-slide
									a(href="./img/product1.webp" data-fancybox)
										img.border-img.lazy(src="./img/product1.webp", width="231" height="321" alt="img")
								.swiper-slide
									a(href="./img/product2.webp" data-fancybox)
										img.border-img.lazy(src="./img/product2.webp", width="231" height="321" alt="img")
								.swiper-slide
									a(href="./img/product3.webp" data-fancybox)
										img.border-img.lazy(src="./img/product3.webp", width="231" height="321" alt="img")
								.swiper-slide
									a(href="./img/product4.webp" data-fancybox)
										img.border-img.lazy(src="./img/product4.webp", width="231" height="321" alt="img")
								.swiper-slide
									a(href="./img/product1.webp" data-fancybox)
										img.border-img.lazy(src="./img/product1.webp", width="231" height="321" alt="img")
								.swiper-slide
									a(href="./img/product2.webp" data-fancybox)
										img.border-img.lazy(src="./img/product2.webp", width="231" height="321" alt="img")
								.swiper-slide
									a(href="./img/product3.webp" data-fancybox)
										img.border-img.lazy(src="./img/product3.webp", width="231" height="321" alt="img")
								.swiper-slide
									a(href="./img/product5.webp" data-fancybox)
										img.border-img.lazy(src="./img/product4.webp", width="231" height="321" alt="img")
						//====swiper navigation
						.swiper-nav
							.swiper-button-next
							.swiper-button-prev
					
					article.custom-text
						.h2 Наши работы
						p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.
						
						//===left border text
						.border-decore
							p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.
						
						p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.
					//===block===
					article.custom-text
						h2.h2 Наши работы
						.two-column-block
							.text-block
								p  Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.
								ol
									li Нумерованный список
									li Нумерованный список
									li Нумерованный список
									li Нумерованный список
									li Нумерованный список
								p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.

							
							img.lazy(src="./img/custom.webp", width="558" height="372" alt="img")
					
					//===  block ====
					article.custom-text
						p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.
						
						ul
							li Маркированный список
							li Маркированный список
							li Маркированный список
							li Маркированный список
							li Маркированный список
					
					//===  block ====
					article.custom-text.custom-table
						.h2 Таблицы
						
						.two-column-block
							//==== по классу .table-large у ячеек нет промежуточных границ, у ячейки с .cell-center  контент будет выстроен по центру, по классу  .table-w100 - таблица занимает 100% ширины ===
							table.table-large.table-w100
								thead
									tr
										th Наименование
										th Тип
										th.cell-center №

								tbody
									tr
										td Варежка
										td Соломенная
										td 32
									tr
										td Халат медицинский
										td Бязевый
										td.cell-center 40
									tr
										td Комбинизон 
										td Полиэстер
										td.cell-center 48
							
							//=====класс .table задает ячейкам мин ширину 130px , класс .row-center у tr  ставит в ячейках этого ряда контент по центру===
							table.table
								thead
									tr.row-center
										td Размер
									
										td Рост
								tbody
									tr.row-center
										td 44-46
										td 170-176
									tr.row-center
										td 46-48
										td 170-176
									tr.row-center
										td 48-50
										td 170-176
									tr.row-center
										td 50-52
										td 170-176
									tr.row-center
										td 52-54
										td 170-176
									tr.row-center
										td 54-56
										td 170-176
									tr.row-center
										td 56-58
										td 170-176
									tr.row-center
										td 58-60
										td 170-176
									tr.row-center
										td 60-62
										td 170-176
									tr.row-center
										td 62-64
										td 170-176
					//===== блок с текстовыми колонками =====			
					article.custom-text
						.h2 Колонки
						//=== 4 колонки ====
						.four-column-txt.mt-40.two-column-mobile
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

						//====три колонки ====
						.three-column-txt.mt-40
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						
						//==== две колонки ===
						.two-column-txt.mt-40
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

			section.news
				.container
					h2.h2 Новости
					.news-cards
						//===single card ====
						.picture-card
							a(href="#!").picture-card__img
								img.lazy(src="./img/custom.webp", width="260" height="173" alt="img")
							.picture-card__txt
								a(href="#!").bold-18 Наименование статьи
								.txt-14 Мы занимаем лидирующие позиции по производству спецодежды и ее реал. Мы занимаем лидирующие позиции по производству спецодежды и ее реал.
						//===single card ====
						.picture-card
							a(href="#!").picture-card__img
								img.lazy(src="./img/custom.webp", width="260" height="173" alt="img")
							.picture-card__txt
								a(href="#!").bold-18 Наименование статьи  в две строчки текста
								.txt-14 Мы занимаем лидирующие позиции по производству спецодежды и ее реал.
						//===single card ====
						.picture-card
							a(href="#!").picture-card__img
								img.lazy(src="./img/custom.webp", width="260" height="173" alt="img")
							.picture-card__txt
								a(href="#!").bold-18 Наименование статьи
								.txt-14 Мы занимаем лидирующие позиции по производству спецодежды и ее реал.
						//===single card ====
						.picture-card
							a(href="#!").picture-card__img
								img.lazy(src="./img/custom.webp", width="260" height="173" alt="img")
							.picture-card__txt
								a(href="#!").bold-18 Наименование статьи
								.txt-14 Мы занимаем лидирующие позиции по производству спецодежды и ее реал.			
			//==== получиь образец ====
			section.get-sample.get-sample-full
				.container
					h2.h2 Получить образец
					.get-sample-full.d-grid
						.get-sample-content
							.get-sample-img
								picture
									img.lazy(src="./img/forma.webp", width="361" height="312" alt="img")
							.get-sample-text
								p.h2 Получить образец
								p Получите образец нашей работы в кратчайшие сроки. Сделаем по вашим лекалам.
							.get-sample-btn
								button.btn(type="button") ЗАПРОСИТЬ СЕЙЧАС
						.get-sample-descrip
							p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.

							p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.

							p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.
			
			section.custom-tabs
				.container
					h2.h2 Табы
					//===== табы для десктоп версии, классические ====
					.duotabs-wrapper
						.duotabs-toggle
							button.duotabs-btn.active(data-duotab="1") Button 1
							button.duotabs-btn(data-duotab="2") Button 2
							button.duotabs-btn(data-duotab="3") Button 3
						
						
						button.duotabs-btn.active.duotabs-btn--mobile(data-duotab="1") Вкладка 1
						.duotabs-content.active(data-content="1")
							p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. 
							p Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. 
						
						button.duotabs-btn.duotabs-btn--mobile(data-duotab="2") Button 2
						.duotabs-content(data-content="2")
							p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. 
							p Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.
							p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. 
						
						button.duotabs-btn.duotabs-btn--mobile(data-duotab="3") Button 3
						.duotabs-content(data-content="3")
							p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. 
					
					
			section.custom-accordeon
				.container
					h2.h2 Аккордеон
					.accordion-group.accordion-classic
						//=======single item =====
						.accordion-header Таб номер один
						.accordion-body
							p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике
							
						//=======single item =====	
						.accordion-header Таб номер два
						.accordion-body
							p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике
						//=======single item =====	
						.accordion-header Таб номер три
						.accordion-body
							p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике
			include ../sections/_subscribe-form.pug
			include ../sections/_support-form.pug


		include ../sections/_footer.pug
	
	
	
block variables
	-var title = "Страница одного товара";
