extends ../layouts/layout.pug

block content
	.page-wrapper
		include ../sections/_header.pug
		main.main.catalogy-main
			//====hero=====
			section.hero-inner
				.container
					//=====breadcrumbs===
					.breadcrumbs
						ul
							li
								a(href="index.html") Главная 
							li
								a(href="catalogy.html") Каталог
							li
								a(href="#!") Спецодежда
					//===content ====
					h1.h1 Спецодежда на заказ
					.preview-text
						p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.
					.catalogy-menu
						a(href="").label-link  Пошив сигнальных жилетов
						a(href="").label-link  Пошив  жилетов
						a(href="").label-link  Пошив рабочих костюмов
						a(href="").label-link  Пошив халатов
						a(href="").label-link  Пошив сигнальных жилетов
						a(href="").label-link  Пошив халатов
					
					.custom-select-wrapper.catalogy-menu-mobile
						.custom-select
							.custom-select-trigger Пошив сигнальных жилетов
							.custom-options.custom-options--rel
								span.custom-option(data-value='1') Пошив сигнальных жилетов
								span.custom-option(data-value='2') Пошив  жилетов
								span.custom-option(data-value='3') Пошив рабочих костюмов
								span.custom-option(data-value='4') Пошив халатов
								span.custom-option(data-value='5') Пошив рабочих костюмов
								span.custom-option(data-value='6') Пошив халатов
								
					article.catalogy-category
						h2.h2 Пошив спецодежды
						.filters-block.d-flex
							
							label.form-checkbox.d-flex
								input(type="checkbox" name="checkbox_name")
								span.txt-12 Показывать только в наличии
							
							.filters-block-inner.d-flex
								//==== этоткомпонент виден на экранах меньше 768пикс, в выпадающем фильтре===
								label.form-checkbox.d-flex
									input(type="checkbox" name="checkbox_name")
									span.txt-12 Показывать только в наличии
								
								//====price inputs=====
								.form-group.d-flex
									p Фильровать по цене
									label от
										input(type="number" name="price_min")
									label до
										input(type="number" name="price_max")
									button.button.button--dark.btn-mini(type="button") Применить
								
								//====custom select=====
								.custom-select-wrapper.filter-select
									.custom-select
										.custom-select-trigger Фильтровать по
										.custom-options
											span.custom-option(data-value='1') По цвету
											span.custom-option(data-value='2') По сезону
											span.custom-option(data-value='3') По возрастанию
											span.custom-option(data-value='4') По убыванию

			
			include ../sections/_subscribe-form.pug
			include ../sections/_support-form.pug


		include ../sections/_footer.pug
	
	
	
block variables
	-var title = "Page";
