extends ../layouts/layout.pug

block content
	.page-wrapper
		include ../sections/_header.pug
		main.main.inner-main
			//====hero=====
			section.single-product-content
				.container
					//=====breadcrumbs===
					.breadcrumbs
						ul
							li
								a(href="index.html") Главная 
							li
								a(href="catalogy.html") Каталог
							li
								a(href="#!") Спецодежда
					//===content ====
					.d-grid.single-product-grid
						//====заголовк для моб версии ====
						.single-product-column
							.single-product-title
								.product-info-article
									p Артикул: 432543543654
									.rating-stars
										span
										span
										span
										span
										span.star-grey
								//===title====
								p.h1 Костюм УЛЙШН -342
								//=====menu links===
								.product-info-menu
									a(href="#product-specifications").link Описание и характеристики
									a(href="#materials").link Материалы
									a(href="#payment").link Оплата и доставка
									a(href="#guarantee").link Гарантия
							.fotorama
								.fotorama-display
									//===лейблы===
									.label-red.label-big Акция!
									.label-green.label-big Новинка
									//===ссылка с изображением===
									a.fd-link(href="./img/fotorama.webp" data-fancybox)
										img.fd-img(src="./img/product4.webp", alt="")
								//===миниатюры===
								.fotorama-thumbs
									.ft-item.ft-item-active
										img(src="./img/product4.webp",data-src="./img/fotorama.webp" alt="alt")
									.ft-item
										img(src="./img/product1.webp",data-src="./img/product1.webp" alt="alt")
									.ft-item
										img(src="./img/product2.webp",data-src="./img/product2.webp" alt="alt")
									.ft-item
										img(src="./img/product3.webp",data-src="./img/product3.webp" alt="alt")
						//====RIGHT COLUMN ====
						.single-product-info
							.single-product-title
								.product-info-article
									p Артикул: 432543543654
									.rating-stars
										span
										span
										span
										span
										span.star-grey
								//===title====
								h1.h1 Костюм УЛЙШН -342
								//=====menu links===
								.product-info-menu
									a(href="#product-specifications").link Описание и характеристики
									a(href="#materials").link Материалы
									a(href="#payment").link Оплата и доставка
									a(href="#guarantee") Гарантия
				
							//=====deskp ====
							.product-info-column
								.product-info-text.txt-14
									p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.
									p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.
								//=====sale block  for >768====
								.sale-block.sale-block--desktop
									.sale-block-label Акция!
									.sale-block-txt
										.txt-14 Тут будет описание акции к примеру:
										.txt-20 СКИДКА  15% при заказе от 120 штук
					
								//=====sale block  for mobile====
								.sale-block.sale-block--mobile
									.sale-block__row
										.sale-block-label Акция!
										.txt-14 Тут будет описание акции к примеру:
									.sale-block-txt
										.txt-20 СКИДКА  15% при заказе от 120 штук
								//=====bay block ====
								.product-bay
									.card-group
										.online-state.active
											span.online-state__dot
											span.online-state__text В наличии
										.card-price от #[span 1 590] руб.
									
									button.btn
										svg.svg-cart
											use(href='./img/sprite.svg#svg-cart')
										span В корзину

									button.button Заказать в 1 клик
				
							//=====additional service ====
							.additional-serv
								.additional-serv-item
									img(src="./img/add-serv1.webp", width="60" height="60" alt="")
									p Нанесем<br>логотип
								
								.additional-serv-item
									img(src="./img/add-serv2.webp", width="60" height="60" alt="")
									p Добавим<br>вышивку
								
								.additional-serv-item
									img(src="./img/add-serv3.webp", width="60" height="60" alt="")
									p Индивидуальный<br>пошив
						
							article#product-specifications.product-specifications
								.h2 Описание и характеристики
								.product-specifications-block
									.table
										table
											thead
												tr
													td Размер
												
													td Рост
											tbody
												tr
													td 44-46
													td 170-176
												tr
													td 46-48
													td 170-176 						
												tr
													td 48-50
													td 170-176
												tr
													td 50-52
													td 170-176
												tr
													td 52-54
													td 170-176
												tr
													td 54-56
													td 170-176
												tr
													td 56-58
													td 170-176
												tr
													td 58-60
													td 170-176
												tr
													td 60-62
													td 170-176
												tr
													td 62-64
													td 170-176						
								
									.product-specifications-txt
										p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.

										p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.
							article#materials
								.h2 Материалы
								p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.

								p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.
							article#payment
								.h2 Оплата и доставка
								p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.

								p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.
							article#guarantee
								.h2 Гарантия
								p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.

								p Мы занимаем лидирующие позиции по производству спецодежды и ее реализации благодаря большому выбору товаров и гибкой ценовой политике. Мы поддерживаем достойный уровень качества благодаря педантичному подходу к выбору материалов и использованию современных технологий при пошиве спецодежды.
							article#product-cat.product-cat
								.h2 Товар входит в категории 
								.product-cat-menu
									a(href="").label-link  Пошив сигнальных жилетов
									a(href="").label-link  Пошив рабочих костюмов
									a(href="").label-link  Пошив  жилетов
									a(href="").label-link  Пошив халатов
									a(href="").label-link  Пошив сигнальных жилетов
									a(href="").label-link  Пошив халатов
			
			section.similar
				.container
					h2.h2 Похожие товары
					.four-columns
						+product-card('Костюм УЛУЙШН - 678', 2, "active")
						+product-card('Костюм УЛУЙШН - 678', 3, "active")
						+product-card('Костюм УЛУЙШН - 678', 4, "active")
						+product-card('Костюм УЛУЙШН - 678', 1, "active")
			include ../sections/_subscribe-form.pug
			include ../sections/_support-form.pug


		include ../sections/_footer.pug
	
	
	
block variables
	-var title = "Страница одного товара";
